# OS or Editor folders
.cache
.DS_Store*
.tmproj
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local

# For GH Pages
.babelrc
.browserslistrc
.editorconfig
package.json
postcss.config.js
webpack.config.js
src
# dist

# Folders to ignore
.CVS
.git
.hg
.idea
.svn
package-lock.json
build
# dist
bower_components


# Node.JS
node_modules
npm-debug.log
.happypack/
