@import "~@/styles/mixin";
@import "~@/styles/variables";
@import "../footer-subordinate/footer-subordinate";
@import "../footer-head/footer-head";

.footer {
  overflow: hidden;
  border-top: 1px solid $shadow-color;
  width: 100%;
  box-shadow: $box-shadow-bold;
  background: $gray-50;
  padding: 60px 0px 0px;

  &__container {
    margin: 0 auto;
    padding: 0 $container-offset;
    max-width: $container-width;
  }
}

