.blog-one {
    &__links {
        padding: 40px 0 32px;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    &__link {
        width: 243px;
        position: relative;
        color: #707070;
        font-size: 14px;
        font-weight: 600;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 23px;
        }
    }

    &__prev-icon {
        position: absolute;
        margin-left: -210px;
        margin-top: -15px;
    }

    &__next-icon {
        position: absolute;
        margin-left: 30px;
        margin-top: -15px;
    }

    &__link-prev {
        padding-left: 44px;
        position: relative;
    }

    &__link-next {
        padding-right: 44px;
        text-align: right;
        position: relative;
    }
}

@media (max-width: 540px) {
    .blog-one {
        &__prev-icon {
            margin-left: -40px;
        }
    }
}
