.collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    padding-bottom: 70px;

    &__item {
        position: relative;
        &:hover {
            .collection__info {
                opacity: 1;
            }
            
        }
    }

    &__images {
        min-height: 350px;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($white, .7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .5s;
    }

    &__info-title {
        font-size: 20px;
        line-height: 25px;
        color: $black-title;
        padding-bottom: 19px;
        margin-bottom: 19px;
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            background: #6d7278;
            width: 80%;
            margin: 0 auto;
            bottom: 52%; //0
            left: 0;
            right: 0;
        }
    }

    &__info-text {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
}

@media (max-width: 1366px) {
    .collection {
        grid-template-columns: repeat(3, 1fr);

        &__images {
            width: 100%;
        }
    }
}

@media (max-width: 840px) {
    .collection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px){
    .collection {
        grid-template-columns: repeat(1, 1fr);
    }
}