@import '~@/styles/mixin';
@import '~@/styles/variables';
@import '../button/button';

.about {

    &__prev {
        background-image: url('../../assets/img/about/jpg/about-bg.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;
        margin-top: -53px;
        
    }

    &__prev-title {
        @include font-bold-title;
        color: $black-title;
        font-size: 60px;
        line-height: 80px;
    }

    &__content {
        padding: 130px 0 40px;
    }

    &__popup {
        background-image: url('../../assets/img/about/jpg/popup-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 414px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        @include font-bold-title;
        color: $black-title;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 1px;
            background-color: #6d7278;
        }
    }

    &__text {
        padding-left: 284px;

        p {
            margin-bottom: 30px;
        }
    }
}


@media (max-width: 992px){
    .about {
        &__text {
            padding-left: 0;
        }

        &__content {
            padding: 40px 0;
        }
    }
}

@media (max-width: 768px){
    .about {
        &__prev {
            padding: 80px 0;
        }
    }
}

@media (max-width: 540px){
    .about {
        &__prev-title {
            font-size: 40px;
            line-height: 48px;
        }
    }
}